{{define "EmptyBoard"}}
<div id="board" 
  class="grid grid-cols-4 grid-rows-4 gap-3 p-3 bg-[#9C8B7C]
    w-full max-w-md aspect-square rounded-xl select-none"
  data-init="@get('/api/new', {filterSignals: {exclude: /.*/}})"
>
  <div class="bg-[#BDAC97] rounded-xl"></div>
  <div class="bg-[#BDAC97] rounded-xl"></div>
  <div class="bg-[#BDAC97] rounded-xl"></div>
  <div class="bg-[#BDAC97] rounded-xl"></div>
  <div class="bg-[#BDAC97] rounded-xl"></div>
  <div class="bg-[#BDAC97] rounded-xl"></div>
  <div class="bg-[#BDAC97] rounded-xl"></div>
  <div class="bg-[#BDAC97] rounded-xl"></div>
  <div class="bg-[#BDAC97] rounded-xl"></div>
  <div class="bg-[#BDAC97] rounded-xl"></div>
  <div class="bg-[#BDAC97] rounded-xl"></div>
  <div class="bg-[#BDAC97] rounded-xl"></div>
  <div class="bg-[#BDAC97] rounded-xl"></div>
  <div class="bg-[#BDAC97] rounded-xl"></div>
  <div class="bg-[#BDAC97] rounded-xl"></div>
  <div class="bg-[#BDAC97] rounded-xl"></div>
</div>
{{end}}

{{define "Controls"}}
<div class="flex bg-[#2A2617] p-3 gap-3 rounded-xl">
  <button 
    title="Undo" 
    data-on:click="@post('/api/undo', {payload: {scores: $scores, boards: $boards}})"
    data-attr:disabled="$boards.length <= 1"
    data-class="{
      'opacity-50 cursor-not-allowed': $boards.length <= 1,
      'cursor-pointer': $boards.length > 1
    }"
    class="p-2 rounded-lg text-white bg-[#3e3727]"
  >
  <svg class="size-7" fill="none" stroke="currentColor" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 14 4 9l5-5"/>
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M4 9h10a6 6 0 0 1 6 6v1"/>
  </svg>
  </button>

  <button 
    title="New Game" 
    data-on:click="@get('/api/new', {filterSignals: {exclude: /.*/}})"
    class="text-white bg-[#383223] p-2 rounded-lg cursor-pointer relative">
    <svg class="size-7" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 5v14M5 12h14"/>
    </svg>

    <!-- Game over ping effect -->
    <span data-show="$_gameOver" class="right-0 top-0 absolute size-3 
      animate-ping rounded-full bg-[#F2B179] opacity-75"></span>
    <span data-show="$_gameOver" class="right-0 top-0 absolute size-3 
      rounded-full bg-[#EDC22E]"></span>
  </button>
</div>
{{end}}

{{define "Scores"}}
<div class="flex gap-4">
  <div class="
    flex flex-col text-[#9C9487] bg-[#2A2617] uppercase rounded-lg 
    py-1 px-6 font-bold text-xs text-center select-none
  ">
    Score 
    <span class="font-bold leading-none h-6 flex justify-center items-center" 
      data-computed:_score="$scores.length > 0? $scores[$scores.length - 1]: 0"
      data-text="$_score"
      data-class="{
        'text-2xl': $_score < 1000,
        'text-xl':  $_score >= 1000 && $_score < 10000,
        'text-lg':  $_score >= 10000
      }"
    ></span>
  </div>
  <div class="
    flex flex-col text-[#9C9487] border-[#9C9487] border uppercase 
    rounded-lg py-1 px-6 font-bold text-xs text-center select-none
  ">
    Best 
    <span class="font-bold leading-none h-6 flex justify-center items-center" 
      data-text="$_hscore"
      data-class="{
        'text-2xl': $_hscore < 1000,
        'text-xl':  $_hscore >= 1000 && $_score < 10000,
        'text-lg':  $_hscore >= 10000
      }"
    ></span>
  </div>
</div>
{{end}}

{{define "Home"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/index.css">
  <script src="/static/datastar.js" type="module" defer></script>
</head>
<body
  class="bg-[#181A1B] flex flex-col items-center h-dvh gap-16 py-8 px-4"
  data-signals="{
    boards: [], _isShaking: false, scores: [], _gameOver: false,
    _hscore: Number(localStorage.getItem('hscore')) || 0
  }
  "
  data-on-signal-patch="'_hscore' in patch && localStorage.setItem('hscore', patch._hscore)"
  data-class:animate-shake-once="$_isShaking"
  data-on:shake__window="
    $_isShaking = false; 
    setTimeout(() => $_isShaking = true, 0);
    setTimeout(() => $_isShaking = false, 200);
  "
  data-on:keydown__window__debounce.200ms="
    const keys = ['ArrowUp', 'ArrowDown', 'ArrowLeft', 'ArrowRight', 'h', 'j', 'k', 'l'];
    if (
      !(evt.ctrlKey || evt.shiftKey || evt.altKey || evt.metaKey) &&
      keys.includes(evt.key)
    ) {
     evt.preventDefault();
     @post('/api/slide', { payload: {
        key: evt.key, 
        boards: $boards, 
        scores: $scores, 
        hscore: $_hscore
     }});
    }
  "
>
  <!-- Score box -->
  {{template "Scores" .}}

  <!-- Puzzle board -->
  {{template "EmptyBoard" .}}

  <!-- Controls -->
  {{template "Controls" .}}
  
</body>
</html>
{{end}}
